

.card_container {
	margin: 30px;
	height: 300px;
	width: 200px;
	float: left;


}

.card {
	height: 300px;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.1s;
	border-radius: 5px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

img {
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.container {
	color: black;
	padding: 2px 5px;
	text-align: center;
}